p {
  color: red;
}

#huge {
  color: navy;
  text-align: center;
}

.centered {
  text-align: center;
}

.small {
  color: red;
  background-color: navy;
  width: 16%;
  padding: 15px;
}

.list > li {
  color: #c9ffcb;
  background-color: #350031;
  width: 20%;
  padding: 3px;
}

input[type=submit] {
  background-color: #c1f1ff;
  color: #995e00;
  font-size: 21.8px;
  width: 25%;
}

@media screen and (min-width: 792px) {
  div#huge {
    font-size: 60px;
  }
  input[type=submit] {
    width: 30%;
  }
}

@media screen and (max-width: 792px) {
  div#huge {
    font-size: 30px;
  }
  input[type=submit] {
    width: 50%;
  }
  .list > li {
    font-size: 14px;
  }
}

body {
  background-color: tan;
}

.col-sm-4 {
  padding: 3px;
  border-style: outset;
  border-width: 3px;
  border-color: navy;
  background-color: gray;
  color: white;
}
